@model Place
@{
    Layout = "_AppLayout";
}

<!-- content -->
<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                        src="@Model.ImageUrl" alt="image"/>
                </div>

                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        @Model.Title
                    </h4>


                    <div class="mb-3">
                        <span class="h5">@Model.Price.ToString("c")</span>
                    </div>

                    <p>
                        @Model.Description
                    </p>

                    <div class="row">
                        <dt class="col-6">Status:</dt>
                        <dd class="col-6">@Model.Status</dd>

                        <dt class="col-6">Type:</dt>
                        <dd class="col-6">@Model.Type</dd>

                        <dt class="col-6">
                            <i class="fa fa-map-marker-alt text-primary me-2"></i>
                            Location
                        </dt>
                        <dd class="col-6">@Model.Streat, @Model.City, @Model.Country</dd>

                        <dt class="col-6">
                            <i class="fa fa-ruler-combined text-primary me-2"></i>
                            Area
                        </dt>
                        <dd class="col-6">@Model.Area</dd>

                        <dt class="col-6">
                            <i class="fa fa-bed text-primary me-2"> </i>
                            Number Of Rooms
                        </dt>
                        <dd class="col-6">@Model.NumOfRooms</dd>

                        <dt class="col-6">
                            <i class="fa fa-bath text-primary me-2"></i>
                            Number Of Baths
                        </dt>
                        <dd class="col-6">@Model.NumOfBaths</dd>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->
